<div class="profile" *ngIf="(profile$ | async) as profile">
    <h2>{{profile.name}}</h2>
    <div>
        <p *ngFor="let species of profile.species">{{species.name}}</p>
    </div>
    <ul class="list">
        <li>{{profile.birth_year}}</li>
        <li>{{profile.height}}</li>
        <li>{{profile.mass}}</li>
        <li>{{profile.hair_color}}</li>
        <li>{{profile.skin_color}}</li>
        <li>{{profile.gender}}</li>
        <li>{{profile.number_of_vehicles}}</li>
    </ul>
    <div *ngIf="profile.starships.length">
        <h3>Starships:</h3>
        <div *ngFor="let ship of profile.starships">
            <p>{{ship.name}}</p>
            <p>Model: {{ship.model}}</p>
        </div>
    </div>
</div>