<div class="profile" *ngIf="(profile$ | async) as profile">
    <h2>{{profile.name}}</h2>
    <div>
        <p *ngFor="let species of profile.species">{{species.name}}</p>
    </div>
    <ul class="list">
        <li>Born: {{profile.birth_year}}</li>
        <li>Height: {{profile.height}}</li>
        <li>Mass: {{profile.mass}}</li>
        <li>Hair: {{profile.hair_color}}</li>
        <li>Skin color: {{profile.skin_color}}</li>
        <li>Gender: {{profile.gender}}</li>
        <li>Vehicles: {{profile.vehicles.length}}</li>
    </ul>
    <div *ngIf="profile.starships.length">
        <h3>Starships:</h3>
        <div *ngFor="let ship of profile.starships">
            <p>{{ship.name}}</p>
            <p>Model: {{ship.model}}</p>
        </div>
    </div>
</div>