<app-filter (keywordEntered)="search($event)"></app-filter>
<div class="menu">
    <ul>
        <app-menu-element 
            *ngFor="let char of characters$ | async"
            [character]="char"
        >   
        </app-menu-element>
    </ul>
    <div> 
        <button *ngIf="swService.isPreviousPage()" (click)="getPreviousPage()" type="button" class="btn btn-primary">Previous</button>
        <button *ngIf="swService.isNextPage()" (click)="getNextPage()">Next</button>
    </div>
</div>

